/*
Mobile Web Development Final Project
Gloria Rivas-Bonilla
*/

.page{
    background-color: #82ADC9;
}
/*home page*/
#mainHead{
    color: #eeeeee;
    font-size: 40px;
    text-align: center;
}
#mainContent{
    color: #eeeeee;
    font-size: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*sign up page*/

#frmSignUp label{
    color: #eeeeee;
}
#pageSignUp section h1{
    color: #eeeeee;
    text-align: center;
}

/*game list page*/

#gameHeader{
    color: #eeeeee;
}

/*about page*/

#pageAbout section h1{
    color: #eeeeee;
    text-align: center;
}
#pageAbout h3{
    color: #eeeeee;
}
#pageAbout img{
    width: 300px;
}

/*add new game page*/

#pageAddNewGame form{
    color: #eeeeee;
}
#pageAddNewGame section h1{
    color: #eeeeee;
    text-align: center;
}
.newGameHeader{
    display: flex;
    align-items: center;
}
.left{
    margin-left: 10px;
}
.right{
    margin-right: 10px;
}
#pageAddNewGame button{
    margin-top: 15px;
}

/*review list page*/
#pageReviewsList section a{
    width: 35%;
    align-items: center;
}
.buttons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
#pageReviewsList section h1{
    text-align: center;
    color: #eeeeee;
}
.ratingHeader{
    color: #eeeeee;
}
.reviewListHeader{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-right: 15px;
}