/*
Mobile Web Development Final Project
Gloria Rivas-Bonilla
*/

/*home page*/
#pageHome{
    background-color: #82ADC9;
}
#mainHead{
    color: #eeeeee;
    font-size: 40px;
    text-align: center;
}
#mainContent{
    color: #eeeeee;
    font-size: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*sign up page*/
#pageSignUp{
    background-color: #82ADC9;
}
#frmSignUp label{
    color: #eeeeee;
}
#pageSignUp section h1{
    color: #eeeeee;
    text-align: center;
}

/*game list page*/
#pageAddGame{
    background-color: #82ADC9;
}
#gameHeader{
    color: #eeeeee;
}

/*about page*/
#pageAbout{
    background-color: #82ADC9;
}
#pageAbout section h1{
    color: #eeeeee;
    text-align: center;
}
#pageAbout h3{
    color: #eeeeee;
}
#pageAbout img{
    width: 300px;
}