/*
Mobile Web Development Final Project
Gloria Rivas-Bonilla
*/

.page{
    background-color: #82ADC9;
}
.pageHead{
    color: #eeeeee;
    text-align: center;
    margin-left: 25px;
}
/*home page*/
#mainHead{
    color: #eeeeee;
    font-size: 40px;
    text-align: center;
}
#mainContent{
    color: #eeeeee;
    font-size: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/*sign up page*/
#frmSignUp img{
    width: 70px;
}
#frmSignUp label{
    margin-top: auto;
}
.signUpImage{
    display: flex;
    align-items: center;
}
.signUpButtons{
    display: inline;
    align-items: center;
}
.flipped{
    transform: scaleX(-1);
}

/*game list page*/
#gameHeader{
    color: #eeeeee;
}

/*about page*/
#pageAbout h3{
    color: #eeeeee;
}
#pageAbout img{
    width: 300px;
}

/*add new game page*/
.newGameHeader{
    display: flex;
    align-items: center;
}
.left{
    margin-left: 10px;
    width: 70px;
}
.right{
    margin-right: 10px;
    width: 70px;
}
#pageAddNewGame button{
    margin-top: 15px;
}

/*review list page*/
#pageReviewsList section a{
    width: 35%;
    align-items: center;
}
.buttons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.ratingHeader{
    color: #eeeeee;
}
.reviewListHeader{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-right: 15px;
}

/*add review page*/
.hidden{
    display: none;
}
.formsLayout{
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
    color: #1b1b1b;
}
.formsLayout button{
    margin-top: 10px;
}
.formsLayout label{
    margin-top: 15px;
}


/*Validation style*/
label.error{
    color: #FF2F48;
    font-weight: bold;
}
input.error,
select.error,
textarea.error {
    border: 1px red solid;
}
#txtFirstName-error.error{
    color: #FF2F48;
}
#txtLastName-error.error{
    color: #FF2F48;
}
#txtEmail-error.error{
    color: #FF2F48;
}
